In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train_final.csv')
test = pd.read_csv('test_final.csv')

In [3]:
#исследуем данные
print(train.shape, test.shape)

(44638, 29) (23525, 28)

In [5]:
print(train.isna().sum())
print('#################')
print(test.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64
#################
hotel                             0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64

In [6]:
train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,3,2016,February,7,12,0,2,2,...,E,F,0,No Deposit,0,Transient,81.0,1,0,2016-02-14
1,City Hotel,1,50,2016,November,47,18,1,2,2,...,A,A,0,No Deposit,0,Transient,93.6,0,2,2016-10-09
2,City Hotel,0,14,2015,September,37,7,1,5,2,...,F,F,0,No Deposit,0,Contract,166.0,0,3,2015-09-13
3,City Hotel,0,18,2015,December,50,6,2,0,2,...,A,A,0,No Deposit,0,Transient,107.0,0,0,2015-12-08
4,City Hotel,1,263,2016,September,40,29,2,4,2,...,A,A,0,No Deposit,0,Transient,100.3,0,0,2016-01-18

In [7]:
test.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,City Hotel,73,2016,July,28,6,0,2,1,0.0,...,A,A,0,No Deposit,0,Transient,107.10,0,0,2016-06-12
1,City Hotel,37,2015,October,43,24,2,5,1,1.0,...,A,A,0,No Deposit,0,Transient,87.78,0,0,2015-10-31
2,City Hotel,190,2017,April,14,6,2,3,2,0.0,...,A,A,0,No Deposit,0,Transient,88.40,0,0,2016-09-29
3,City Hotel,287,2016,August,35,24,1,4,2,0.0,...,B,B,1,No Deposit,0,Transient,76.71,0,0,2016-08-29
4,Resort Hotel,386,2016,October,43,20,1,3,2,0.0,...,A,A,0,No Deposit,0,Transient-Party,49.00,0,0,2016-09-14

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44638 entries, 0 to 44637
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           44638 non-null  object
 1   is_canceled                     44638 non-null  int64
 2   lead_time                       44638 non-null  int64
 3   arrival_date_year               44638 non-null  int64
 4   arrival_date_month              44638 non-null  object
 5   arrival_date_week_number        44638 non-null  int64
 6   arrival_date_day_of_month       44638 non-null  int64
 7   stays_in_weekend_nights         44638 non-null  int64
 8   stays_in_week_nights            44638 non-null  int64
 9   adults                          44638 non-null  int64
 10  children                        44638 non-null  float64
 11  babies                          44638 non-null  int64
 12  meal                            44638 non-null  object
 13  country                         44638 non-null  object
 14  market_segment                  44638 non-null  object
 15  distribution_channel            44638 non-null  object
 16  is_repeated_guest               44638 non-null  int64
 17  previous_cancellations          44638 non-null  int64
 18  previous_bookings_not_canceled  44638 non-null  int64
 19  reserved_room_type              44638 non-null  object
 20  assigned_room_type              44638 non-null  object
 21  booking_changes                 44638 non-null  int64
 22  deposit_type                    44638 non-null  object
 23  days_in_waiting_list            44638 non-null  int64
 24  customer_type                   44638 non-null  object
 25  adr                             44638 non-null  float64
 26  required_car_parking_spaces     44638 non-null  int64
 27  total_of_special_requests       44638 non-null  int64
 28  reservation_status_date         44638 non-null  object
dtypes: float64(2), int64(16), object(11)
memory usage: 9.9+ MB

In [18]:
#произведем предобработку данных
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type', 'reservation_status_date'],
      dtype='object')

In [19]:
#удалим столбцы, которые скорее всего не влияют на результат
train = train.drop(columns = ['reservation_status_date', 'country'])
test = test.drop(columns = ['reservation_status_date', 'country'])

In [24]:
category = train.loc[:, train.dtypes == object].columns
category

Index(['hotel', 'arrival_date_month', 'meal', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type'],
      dtype='object')

In [30]:
categ = ['hotel', 'arrival_date_month', 'meal', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type']

for i in categ:
    print(i)
    print(set(test[i].unique()).symmetric_difference(set(train[i].unique())))

hotel
set()
arrival_date_month
set()
meal
set()
market_segment
set()
distribution_channel
set()
reserved_room_type
{'P', 'L'}
assigned_room_type
{'P', 'L'}
deposit_type
set()
customer_type
set()

In [33]:
#видно, что у нас раздичаются категориальные данные в двух столбцах тренировочного и тестовго набора данных
print(train['reserved_room_type'].unique())
print(test['reserved_room_type'].unique())

['E' 'A' 'F' 'D' 'C' 'G' 'H' 'B' 'P']
['A' 'B' 'D' 'E' 'G' 'F' 'C' 'H' 'L']

In [34]:
print(train['assigned_room_type'].unique())
print(test['assigned_room_type'].unique())

['F' 'A' 'G' 'D' 'E' 'C' 'H' 'K' 'B' 'I' 'P']
['A' 'B' 'D' 'E' 'C' 'G' 'F' 'H' 'I' 'K' 'L']

In [ ]:
#один из варинатов решения проблемы, удалить данные столбцы
train = train.drop(columns = ['assigned_room_type','reserved_room_type'])
test = test.drop(columns = ['assigned_room_type','reserved_room_type'])